<!DOCTYPE html>
<html lang="en">
<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

  <title>ChronoShare</title>
</head>

<body>

<!-- References a Handlebars partial in views/partials/navbar.handlebars -->
{{>navbar}}

<!-- The HTML for each view goes here -->
<div class="container">
{{{body}}}
</div>

<hr>
 
 <!-- Footer -->
{{>footer}} 

</body>
</html>