<div class="page-header">
<h1>About Us</h1>
	<!-- http://www.impactqa.in/wp-content/uploads/2016/02/working-together.jpg -->
	<img src="images/working-together.jpg">
	<h3>Jiawei Zhao</h3>
	<h3>Xun Jiang</h3>
	<h3>Ying Zhou</h3>
	<h3>Yuan Cheng</h3>
</div>
