<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">We have got plenty for you! What can we do for you today?</p>
    <div id="indirection_btns">
        <a class="btn btn-lg btn-primary" href="/users/receivers" role="button">Start Order »</a>
        <a class="btn btn-lg btn-link" href="/users/delivers" role="button">I want to deliver »</a>
    </div>
</div>

<div class="row marketing" id = 'marketing'>
    <div class="col-lg-6">
        <h3>More options: </h3>
        <a class="btn btn-lg btn-primary btn-block" href="/users/ordersplaced" role="button">Check out the orders placed »</a>
        <a class="btn btn-lg btn-success btn-block" href="/users/ordersdelivered" role="button">Check out the orders delivered»</a>
    </div>
</div>
