<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Only in 3 simple Steps!</h1>
    <p>With ChronoShare, you can pick up an order by only 3 simple steps. Here is the magic happen place.</p>
  </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
  <div class="row">
    <form role="form" action="/users/delivers" method="post">
      <fieldset>
          <div class="col-md-4">

          <!-- Enter the item you want -->
          <h2>Enter your location</h2>

          <!-- Display errors -->
          {{#if error}}
            <h3 id="error">{{error}}</h3>
          {{/if}}

          <div class="input-group">
            <span class="input-group-addon">Current Location</span>
            <input type="text" class="form-control" placeholder="please enter your address" name="current_location" required>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Zip code" name="current_zip" required>
            <span class="input-group-addon">Zipcode</span>
          </div>
        </div>

        <div class="col-md-4">

          <!-- Enter Your Address -->
          <h2>Enter your destination</h2>
          <div class="input-group">
            <span class="input-group-addon">Destination</span>
            <input type="text" class="form-control" placeholder="please enter your address" name="dest_location" required>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Zip code" name="dest_zip" required>
            <span class="input-group-addon">Zipcode</span>
          </div>
        </div>


        <div class="col-md-4">
          <h2>Click Yes Button</h2>
          <p>Now, it's time to double check your order. The final step is clicking "YES" Button</p>
          <input type='submit' value='Yes' class="btn btn-lg btn-primary">
        </div>
      </fieldset>
    </form>
  </div>
</div>