<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Share Your Time &amp; Earn Money</h1>
        <p>Chrono Share will match the most rational for you to deliver. What you do is just select an item in</p>
        <p>our list </p>
    </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
    <div class="row">

        <div class="col-md-4">

            <!-- Enter Current Address -->
            <h2>Enter Where You Are</h2>
            <p>Please enter the following information:</p>
            <p>&nbsp;</p>
            <div>
                <div class="input-group"><span class="input-group-addon">Current Location</span>
                    <input type="text" class="form-control" placeholder="normal sized input group">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="placeholder content">
                    <span class="input-group-addon">Zipcode</span>
                </div>
            </div>
            <p><a class="btn btn-primary" href="#" role="button">Next »</a></p>
        </div>

        <div class="col-md-4">
            <h2>Where You Want To Go?</h2>
            <p>Please enter the following information:</p>
            <p>&nbsp;</p>
            <div>
                <div class="input-group"><span class="input-group-addon">Destination</span>
                    <input type="text" class="form-control" placeholder="normal sized input group">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="placeholder content">
                    <span class="input-group-addon">Zipcode</span>
                </div>
            </div>
            <p><a class="btn btn-primary" href="#" role="button">Next »</a></p>
        </div>


        <div class="col-md-4">
            <h2>Click Yes Button</h2>
            <p>Now, it's time to double check the information. The final step is clicking "YES" Button</p>

            <p><br>
            </p>
            <a type="button" class="btn btn-lg btn-primary" href="./Rflow2.html">Yes </a>
        </div>
    </div>