<div class="jumbotron">
    <h1>Welcome back, You are now logged in!</h1>
    <p class="lead">We have got plenty for you! What can we do for you today?</p>
    <div id="indirection_btns">
        <a class="btn btn-lg btn-primary" href="/users/receivers" role="button">Start Order »</a>
        <a class="btn btn-lg btn-link" href="/users/delivers" role="button">I want to deliver »</a>
    </div>
</div>