<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Your order has been placed!</h1>
      <p>Congradulations! Your order has been placed </p>
      <a href="/users/ordersplaced" class="btn btn-primary" role="button">View My Orders</a>
    </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
  <div class="row"> <img src="/images/profile.png" width="457" height="312" alt=""/>
    <div class="col-md-4">
      <h2>On the Way to You</h2>
      <p>bla bla bla...</p>
    </div>
  </div>
</div>