<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Only in 3 simple Steps!</h1>
    <p>With ChronoShare, you can make an order by only 3 simple steps. Here is the magic happen place.</p>
  </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
  <div class="row">
    <form role="form" action="/users/receivers" method="post">
      <fieldset>
          <div class="col-md-4">

          <!-- Enter the item you want -->
          <h2>What do you want?</h2>
          <div class="input-group">
            <span class="input-group-addon">Item</span>
            <input type="text" class="form-control" placeholder="what item you want?" name="storeitem">
            <span class="input-group-addon">Price</span>
            <input type="text" class="form-control" placeholder="how much it costs?" name="storeitem_price">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Store Location</span>
            <input type="text" class="form-control" placeholder="please enter the store address" name="storeadds">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="store Zip code" name="storezip">
            <span class="input-group-addon">Zipcode</span>
          </div>
        </div>

        <div class="col-md-4">

          <!-- Enter Your Address -->
          <h2>Where you are?</h2>
          <div class="input-group">
            <span class="input-group-addon">Current Location</span>
            <input type="text" class="form-control" placeholder="please enter your address" name="receiversadds">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Zip code" name="receiverszip">
            <span class="input-group-addon">Zipcode</span>
          </div>
        </div>


        <div class="col-md-4">
          <h2>Click Yes Button</h2>
          <p>Now, it's time to double check your order. The final step is clicking "YES" Button</p>
          <input type='submit' value='Yes' class="btn btn-lg btn-primary">
        </div>
      </fieldset>
    </form>
  </div>
</div>